table {
    border-collapse: collapse;
    color: green;
    width: 100%;
}

.invisible {
    opacity: 0.0;
}

td,
th {
    padding: 10px;
}

table td+td {
    border-left: 2px solid red;
}

table th+th {
    border-left: 2px solid red;
}